<div>
  <h1>Coffee Review</h1>
  <a href="/">Home</a>
  <div>
    {{#each coffeeShops}}
    <div>
      <a href='/coffeeshop/{{id}}'><img src={{image}} alt=""><h2>{{name}}</h2></a>
    </div>
    {{/each}}
  </div>
</div>