<div>
  <div>
    {{#each coffeeShops}}
    <div>

      <a href='/coffeeshop/{{id}}'><h2>{{name}}</h2></a>

    </div>
    {{/each}}
  </div>
<p>
      The heart of the city is home to some of the best cafes Auckland has to offer.
    Let the pleasure be all yours as your browse all the central Auckland cafes for a great breakfast, brunch,
    lunch and insanely good coffee. From little hole in the wall coffee shops, to crowd favourites and hidden gems,
      these incredible Auckland cafes are ones you'll want to keep coming back to time after time.
</p>
<div>
  <p>
      1.
      People working at the University of Cambridge knew the feeling of finding an empty coffee pot so well,
      so they invented the first ever webcam with the sole purpose of checking the status of the coffee pot.
  </p>
  <p>
      2.
      Finland consumes the most coffee in the world.
      The average adult Finn goes through 27.5 pounds of coffee each year,
      according to the International Coffee Organization.
      Compare that to a measly 11 pounds per American
  </p>
  <p>
      3.
      Decaf does not mean caffeine-free
      An eight-ounce brewed cup of decaf coffee actually contains two to 12 milligrams of caffeine, 
      the Mayo Clinic states. In comparison, a regular cup of coffee supplies between 95 to 200 milligrams,
        while one can of cola has aout 23 to 35 milligrams of caffeine. 
  </p>
  <p>
      4.
      Brazil couldn’t afford to send its 69 athletes to Los Angeles for the Summer Olympics in 1932,
      so they put them on a ship with 50,000 sacks of coffee and sold the beans at different ports
      along the way. Good thing Brazil has been the world’s largest coffee producer for more than
      150 years, so they had beans to spare
  </p>
  <p>
      5. 
      The world’s most expensive coffee comes from animal poop.   
      Kopi Luwak, the world’s most expensive coffee, earns its pricey distinction thanks to a surprising step in its production: digestion.
      In Indonesia, a wild animal known as the Asian palm civet (a small critter similar to the weasel) cannot resist the bright red coffee cherries that abound,
      even though they can’t digest the actual coffee beans.
      The beans pass through the civets' systems without being fully digested.
      At which point, some brave coffee farmer collects the beans from the civets’ droppings,
      (hopefully) thoroughly washes them, and sells them for up to $600 per pound. 
  </p>
  <p>
      6.
      It would take 70 cups of coffee to kill a 150-pound person.
      Too much of anything can be a bad thing—yes, even your favorite customized coffee beverage.
      AsapSCIENCE estimated that it would take 70 cups of coffee to kill a roughly 150-pound person.
  </p>




</div>


</div>