<head>
	<meta charset="utf-8">
	<title>Coffee Critics</title>
    <link rel="stylesheet" href="/public/main.css">
</head>

<body>
  <header>
    <a class="logo" href="/"><img class="w-sm"src="/images/logo.png"></a>
  </header>
	{{{body}}}
</body>

</html>