<link rel="stylesheet" href="/main.css">
<head>
	<meta charset="utf-8">
	<title>Coffee Critics</title>
</head>

<body>
  <header>
    <a href="/"><img class="logo" src="/images/logo.png"></a>
  </header>
	{{{body}}}
</body>

</html>