<div>
      <h1>Coffee Review</h1>
      <a href="/">Home</a>
      <div>
        {{#each}}
        <div>
          <a href='/review/{{id}}'><img src={{image}} alt=""></a>
        <h2>{{name}}</h2>
        </div>
        {{/each}}
      </div>
    </div>