.coffee-img {
	width: 30rem;
	height: auto;
	margin-top: 8%;
	margin-bottom: 5%;
}
.logo {
	width: 15rem;
	height: auto;
}
h3 {
	color: #49281A;
	font-size: x-large;
}
p {
	font-size: x-large;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 3%;
	
}
h2 {
	color: #49281A;
	font-size: x-large;
	margin-bottom: 2%;
	display: inline-block;
}

h1 {
	color: #49281A;
	font-size: xx-large;
}
body {
	background-color: #DFB78C;
	text-align: center;
  }
  
